/* Box Model Hack */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     border: 1px solid red;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

/* |======== Navigation ===========| */


header {

}

footer {

}

