/* Box Model Hack */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
     /*border: 1px solid red*/;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

.flex-container {
     display: flex;
     justify-content: center;
     align-items: center;
}


/******************************************
/* LAYOUT
/*******************************************/

/* |======== Navigation ===========| */


.board {
     display: grid;
     grid-template-columns: repeat(3, min-content);
     grid-template-rows: repeat(3, 1fr);
     grid-gap: 0.5rem;
}

.cell {
     height: 4rem;
     width: 4rem;
     border-radius: 5px;
     border: 1px solid rgba(0,0,0,0.25);
}