/* Box Model Hack */
* {
     box-sizing: border-box;
     padding: 0;
     margin: 0;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* font size for webpage */
html {
     font-size: 62.5%;
}

/* set height for page and body */
html, body {
     height: 100%;
}

/* style the body and create a flex */
body {
     background-color: #F4A261;
     font-family: 'Poppins', sans-serif;
     font-weight: 400;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: #E9C46A;
}

a {
     text-decoration: none;
     color: #264653;
}

/******************************************
/* LAYOUT
/*******************************************/

/* |======== Board ===========| */

/* container for h1 */
header {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     width: 100%;
     margin-bottom: 20px;
}

/* Tic Tac Toe text */
header > h1 {
     font-size: 7rem;
     color: #264653;
}

/* reset button */
.btn {
     padding: 20px 50px;
     font-size: 1.9rem;
     background-color: #264653;
     color: #eed8a2;
     border-radius: 30px;
     border: none;
}

/* button hover effect */
.btn:hover {
     cursor: pointer;
     transform: translateY(-2px);
}

/* footer */
footer {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     margin-top: 55px;
}

footer p {
     font-size: 2em;
     color: #264653;
}

footer a:hover {
     color: white;
}

/* 
style for the gameboard
used the grid system
source: https://www.youtube.com/watch?v=rg7Fvvl3taU&t=154s 
*/
.gameBoard {
     height: 300px;
     width: 300px;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     margin-top: 20px;
     grid-gap: 5px;
     background: #E9C46A;
}

/* individual cell blocks styling */
.cell {
     transition: all 0.15s ease-in-out;
     background-color: #264653;
     text-align: center;
     line-height: 95px;
     font-size: 50px;
     cursor: pointer;
     user-select: none;
}

/* apply hover affect over the cell blocks */
.cell:hover {
     cursor: pointer;
     background-color: #013144;
     transform: translateY(-2px);
}


#result {
     color:#264653;
     font-size: 4rem;
}